/* styles for my resume */

/* default */
body {
  color: #444;
  font-family: 'Lato', arial, sans-serif;
  font-size: 1em;
  font-weight: 400;
}

/* header */
h2 {
  margin: 15px 0px;
}

/* contact links */
i {
  padding: 15px;
}

/* navigation */
nav {
  background-color: #777;
  margin: 0 auto;
  width: 75%;
  max-width: 1000px;
}

/* container */
.container {
  margin: 0 auto;
  padding: 0;
  width: 75%;
  max-width: 1000px;
}

/* footer */
.crop {
  border-color: #008080;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  overflow: hidden;
}

/* experience */
.job {
  font-weight: 700;
  margin-bottom: 5px;
}

/* contact links and headshot */
#about {
  background-color: #999;
  margin-bottom: 10px;
  padding: 10px 10px 0px 10px;
}

/* contact links */
#about a {
  font-weight: 700;
  text-decoration: none;
}

/* currently active links */
#about a:active {
  color: #FFF;
}

/* hovered-over links */
#about a:hover {
  color: #444;
}

/* regular links */
#about a:link {
  color: #008080;
}

/* previously visited links */
#about a:visited {
  color: #444;
}

/* headshot */
#about img {
  float: right;
  margin: 0px 10px 10px 10px;
  max-height: 200px;
  max-width: 200px;
}

/* banner image */
#banner img {
  height: auto;
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
}

/* footer */
#footer {
  background-color: #999;
  padding: 10px 0px;
}

/* responsive design... headshot disappears if screen is too small */
@media screen and (max-width: 700px) {
  #about img {
    display: none;
  }
}
