a {
  color: #e0162b;
  text-decoration: none;
}

a:hover {
  color: #0052a5;
  text-decoration: none;
}

a:visited {
  color: #999;
  text-decoration: none;
}

body {
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 1em;
  font-weight: 400;
}

figure {
  display: table;
  margin: 0px auto;
  width: 80%;
}

figure figcaption {
  caption-side: bottom;
  display: table-caption;
  padding: 5px 20px 0px 0px;
}

figure img {
  object-fit: scale-down;
  vertical-align: top;
}

footer {
  background-color: #000;
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  height: 100px;
  margin-top: 100px;
  padding: 25px;
  text-align: center;
  width: 100%;
}

nav {
  margin: 0 auto;
  width: 100%;
}

p {
  line-height: 180%;
  text-align: left;
}

ul.navbar-nav {
  margin-left: 50%;
}

.bg-dark {
  background:#000 !important;
}

.blue {
  color: #0052a5;
}

.body {
  margin-right: 5px;
}

.caption {
  color: #999;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  max-width: 900px;
  padding-bottom: 30px;
  width: 100%;
}

.chapterheadline {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
  font-weight: 700;
  padding-bottom: 15px;
  padding-top: 20px;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1199.98px;
  padding: 0;
  width: 75%;
}

.graphic-container {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  font-family: 'Montserrat', sans-serif;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 30px;
}

.graphic-container h2 {
  font-size: 2em;
}

.hero-image {
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
}

.intro {
  margin-left: 15px;
}

.logo {
  margin-left: 5px;
}

.nav-item {
  padding-right: 10px;
}

.navbar {
  font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
}

.red {
  color: #e0162b;
}

.stack-image {
  margin: 0 auto;
  max-width: 900px;
  padding-top: 30px;
  width: 100%;
}

.star {
  height: 15px;
  width: 15px;
}

#about {
  background-color: #E8E8E8;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 0.75em;
  margin: 0 auto;
  max-width: 800px;
  padding: 15px 10px 10px 10px;
}

#byline {
  font-size: 1.5em;
  padding-bottom: 10px;
  text-align: center;
}

#deckline {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}

#headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

#intro {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25em;
  line-height: 1.75em;
  margin: 25px auto;
  max-width: 800px;
}

#logo {
   padding-left: 10px;
}

#race {
    max-width: 700px;
}

#type {
    max-width: 900px;
}
