/* default */
body {
  color: #000;
  font-family: 'PT Serif', serif;
  font-size: 1em;
  font-weight: 400;
}

/* links */
a {
  color: #e0162b;
}

a:hover {
  color: #0052a5;
}

a:visited {
  color: #999;
}

/* navigation */
nav {
  margin: 0 auto;
  width: 100%;
}

a.nav-link {
 color: #FFF !important;
}

a.nav-link:hover {
 color: #999 !important;
}

.nav-item {
  padding-right: 50px;
}

ul.navbar-nav {
 margin-left: 50%;
}

.bg-dark {
 background:#000 !important;
}

.navbar {
 font-family: 'Montserrat', sans-serif;
}

.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #FFF;
  font-size: 1.25em;
}

#logo {
   padding-left: 10px;
}

.star {
  height: 15px;
  margin-left: 5px;
  width: 15px;
}


p{
 text-align:left;
 line-height:180%;
}

.red {
 color: #e0162b;
}

.blue {
 color: #0052a5;
}

/*body image*/
.bodyimage {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

/* chapter headline */
.chapterheadline {
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px 0px;
}

/* container */
.container {
  margin: 0 auto;
  max-width: 991.98px;
  padding: 0;
  width: 75%;
}

/* photo caption */
.photocaption {
  color: #777;
  padding: 5px 0px 10px 0px;
}

/* byline */
#byline {
  font-size: 1.5em;
  padding-bottom: 10px;
  text-align: center;
}

/* footer */
#footer {
  margin-top: 10px;
  padding: 10px 0px;
  text-align: center;
}

/* headline */
#headline {
  font-size: 3em;
  font-weight: 700;
  padding-top: 20px;
  text-align: center;
}
