/* default */
body {
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 1em;
  color: #444;
}

/* name */
h1 {
    color: #33485e;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

/* title */
strong {
    color: #33485e;
    font-size: 1.5em;
    text-transform: uppercase;
}

/* section titles */
h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  background-color: #33485e;
  color: #fff
}

/* job titles */
h3 {
  font-size: 1.5em;
  font-weight: 600;
}

/* job organizations */
h4 {
  font-size: 1em;
  font-weight: 400;
}

/* job dates */
h5 {
  font-size: 1em;
  font-weight: 400;
}

/* contact info, skills, education */
ul {
  font-size: 1em;
}
